@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: pastel --default;
  base: true;
  styled: true;
  utils: true;
}

@layer utilities {
  .font-gloria {
    font-family: var(--font-gloria), sans-serif;
  }
  .font-nunito {
    font-family: var(--font-nunito), sans-serif;
  }
}